.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--image {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
  }

  &__large &--image {
    width: 8rem;
    height: 8rem;
  }

  &--title {
    @extend .headingLg;
  }

  &__large &--title {
    @extend .heading2Xl;
  }
}
